@model List<RSSField>


<section>
    <h2>Новости яндекс</h2>
    <ul class="small-image-list">
        @foreach (RSSField entity in Model)
        {
            <li>
                <a href="@entity.url">@entity.tittle</a>
            </li>
        }
    </ul>
</section>
