@using HomeWork_13.Models
@model IQueryable<IAccount>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.Tittle;
    ViewBag.Description = textField.SubTittle;
}

<div id="results">
    <table class="table-box">
        <tr>
            <th>Номер счета</th>
            <th>Баланс</th>
        </tr>
        @if (Model.Any())
        {
          
            @foreach (IAccount entity in Model)
            {
                <tr>
                    <td>@entity.ID</td>
                    <td>@entity.Balance</td>
                </tr>
            }
        }
    </table>
</div>

<div class="div-box">
    <input id="TopUpSumm" name ="TopUpSumm" type="number" step="0.01" min="0" placeholder="0,00">₽
    <select id="AccountSelect" name="AccountSelect" required>
        <option disabled>-Выберите значение-</option>
        @foreach (var item in ViewBag.Accounts)
        {
            <option value="@item.Key">@item.Value</option>
        }
    </select>
    @*@Html.DropDownList("SelectAccounts", new SelectList(ViewBag.Accounts, "Key", "Value"), "-Выберите значение-")*@
    <input type="submit" id="TopUpBalance" value="Пополнить счет" />
    <input type="submit" id="AccOpen" value="Открыть счет" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#AccOpen").click(function () {
                $.ajax({
                    type: "Get",
                    dataType: "html",
                    url: "Accounts/OpenAccount",
                    success: function (result) {
                        $('#results').html(result);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#TopUpBalance").click(function () {
                var selidacc = document.getElementById("AccountSelect").value;
                
                var summtop = document.getElementById("TopUpSumm").value;
                
                var obj = {
                    id: selidacc,
                    summ: summtop
                };
                alert(JSON.stringify(obj));
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    contentType: "application/json",
                    data: JSON.stringify(obj),
                    url: "Accounts/TopUpBalance",
                    success: function (result) {
                        $('#results').html(result);
                    }
                });
            });
        });
    </script>
</div>